.statistics {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 400px;
  height: 170px;
  background-color: #fff;
}

.title {
  text-align: center;
  color: dimgrey;
  font-size: 25px;
  padding-top: 20px;
}

.statList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 10px;
}

.item {
    height: 40px;
    width: 40px;
    display: grid;
    column-gap: 20px;
    padding: 20px;
    justify-items: center;
  }
  
  .label {
    color: #fff;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px #333;
  }
  
  .percentage {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 1px 1px #333;
  }
